.dashboard-admin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 16px;
  }

.dashboard-admin .row {
    display: flex;
    gap: 10px;
}

  