.main-container {
    width: 100%;
    background-image: url(../../../assets/images/signup.png);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    
}

.signup-form-container {
    width: 60%;
    margin-left: 20%;
    margin-top: 10vh;
    border-radius: 20px;
    background-color: #ffffff;
}

.signup-form, .toLogin {
    width: 100%;
}

.form-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form-col {
    padding-top: 8.5%;
    width: 36%;
}

.welcome p {
    font-family: Calibri;
    font-size: 16px;
    padding: none;
}

.welcome h2 {
    font-family: Montserrat;
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
}

.form-col h3 {
    font-family: Montserrat;
    font-size: 28px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 2px;
    padding-bottom: 5px;
}

.component {
    margin-bottom: 5px;
}

.flex-here {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
   
}

.component.title {
    margin-top: 0;
}

.component label {
    font-size: 20px;
    font-weight: 700;
    font-family: Montserrat;
    padding-top: 0;
    margin-top: 0;
}

.component select {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    height: 2em;
    width: 100%;
}

.component input {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-size: 16px;
    height: 2em;
}

.form-col.right {
    position: relative;
    /* background-color: blue; */
}

.form-col.right .component {
    width: 100%;
}

.form-col.right .top {
    width: 100%;
    position: absolute;
    /* background-color: aliceblue; */
    top: -195px;
}

.phone {
    position: absolute;
    top: 56.5px;
}

.repass {
    position: absolute;
    top: 389px;
}
.check-box{
    margin-left: 8%;
}

.show {
    display: block;
    margin-top: 5px;
    padding: 0;
    font-size: 15px;
    color: red;
}

.hide {
    display: block;
    margin-top: 5px;
    padding: 0;
    font-size: 15px;
    color: white;
}

.signup-form button {
    padding: 0.5rem;
    background-color: #041BD7;
    color: #f5f8ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    height: 2em;
    width: 70%;
    margin: 10px 15%;
}

.signup-form button:hover {
    background-color: #0056b3;
}

.toLogin {
    text-align: center;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 16px;
    height: 8%;
    border-radius: 0 0 20px 20px;
    background-color: #A3F3FF;
    padding: 10px 0;
}

.toLogin p {
    display: inline;
}

.toLogin a {
    color: #1F77CF;
    display: inline;
    text-decoration: none;
}