.popular-flights {
  text-align: center;
  padding: 0px;
  max-width: 1060px;
  margin: 0 auto;
}

.flights-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.flight-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flight-image-container {
  width: 50%;
  max-width: 300px;
}

.flight-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flight-details {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flight-details p {
  margin: 5px 0;
}

.location {
  font-size: 1.2em;
  font-weight: bold;
}

.price {
  color: #d9534f;
  font-size: 1.1em;
}

.destination,
.rank,
.date,
.time {
  font-size: 0.9em;
  color: #555;
}

.flight-card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .flights-grid {
    grid-template-columns: 1fr;
  }

  .flight-card {
    flex-direction: column;
  }

  .flight-image-container {
    width: 100%;
    max-width: 780px;
  }

  .flight-details {
    width: 100%;
  }

  .location {
    font-size: 1.1em;
    font-weight: bold;
  }

  .price {
    color: #d9534f;
    font-size: 1em;
  }

  .destination,
  .rank,
  .date,
  .time {
    font-size: 0.8em;
    color: #555;
  }
}

@media (max-width: 480px) {
  .location {
    font-size: 1em;
    font-weight: bold;
  }

  .price {
    color: #d9534f;
    font-size: 0.9em;
  }

  .destination,
  .rank,
  .date,
  .time {
    font-size: 0.7em;
    color: #555;
  }
}
