/* General Styles */
.side-bar-container {
    background-color: #fff;
    width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 70px;
}

/* Menu Items */
.side-bar-container .products,
.side-bar-container .logout,
.side-bar-container .settings,
.side-bar-container .blog,
.side-bar-container .user,
.side-bar-container .airlines,
.side-bar-container .airport,
.side-bar-container .planes,
.side-bar-container .flights,
.side-bar-container .booked,
.side-bar-container .home {
    width: 280px;
    height: 60px;
    cursor: pointer;
}

.side-bar-container .products {
    position: relative;
    transition: all 0.3s ease;
}

.side-bar-container .products .background-products1 {
    position: absolute;
    width: 17px;
    height: 60px;
    left: -10px;
    transition: all 0.3s ease;
}

.side-bar-container .products .background-products2 {
    position: absolute;
    width: 240px;
    height: 60px;
    left: 25px;
    transition: all 0.3s ease;
}

/* Text Wrapper */
.side-bar-container .text-wrapper-3 {
    position: absolute;
    top: 17px;
    left: 80px;
    font-family: "Nunito Sans-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 200;
    color: #474747;
    letter-spacing: 0.3px;
}

.side-bar-container .text-wrapper-3.active {
    color: #ffffff;
}

/* Active and Hover States */
.side-bar-container .products.active .background-products2,
.side-bar-container .products.active .background-products1 {
    background-color: #80bcff;
    border-radius: 4px;
}

.side-bar-container .products.active:hover {
    background-color: #fff;
}

.side-bar-container .products:hover {
    background-color: #e0e0e0;
}

.side-bar-container .products:active .background-products1,
.side-bar-container .products:active .background-products2 {
    transform: scale(0.95);
    background-color: #70a3e8;
}

/* Divider and Separator */
.side-bar-container .divider {
    position: absolute;
    top: 480px;
    width: 280px;
    height: 1px;
    background-color: #e0e0e0;
}

.side-bar-container .separator {
    position: absolute;
    top: 0;
    left: 280px;
    width: 1px;
    height: 100%;
    background-color: #e0e0e0;
}
