@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* General Styles */
.container-admin-table {
  font-family: "Nunito Sans-SemiBold", Helvetica;
  position: absolute;
  top: 100px;
  left: 400px;
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  opacity: 0; /* Start invisible */
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: var(--animation-delay, 0s); /* Allows dynamic delay */
}

.container-admin-dashboard {
  font-family: "Nunito Sans-SemiBold", Helvetica;
  position: absolute;
  top: 100px;
  left: 300px;
  width: 1200px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #80bcff;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  top: -20px;
  left: -20px;
  width: 980px;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.add-row-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.add-row-button:hover {
  background-color: #e0e0e0;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #80bcff;
}

table tr:nth-child(even) {
  background-color: #eaf6ff;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-buttons .edit-btn,
.action-buttons .remove-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  padding-right: 36px;
  border-radius: 10px;
  text-align: left;
  width: 400px;
}
  
.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-actions {
  text-align: right;
}

button.confirm-button,
.confirm-dialog .confirm {
  width: 80px;
  margin-right: 20px;
  background-color: #80bcff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

button.confirm-button:hover,
.confirm-dialog .confirm:hover {
  background-color: #007bff;
}

button.cancel-button {
  width: 80px;
  background-color: #fff;
  color: #474747;
  border-color: #474747;
  border-width: 1px;
  border-style: solid;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 20px;
}

button.cancel-button:hover {
  background-color: #e0e0e0;
}
  
/* Controls */
.controls-table-admin{
  color: #474747;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.limitSelect-admin-table {
  display: flex;
  gap: 5px;
  padding-left: 5px;
  align-items: center;
}

#searchInput {
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  width: 300px;
  position: absolute;
  right: 20px;
}

#limitSelect {
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
}

/* Setting */
.setting div{
  padding-bottom: 30px;
  padding-right: 36px;
  padding-left: 8px;
}

.setting-input {
  text-align: left;
}

.setting button {
  font-size: 16px;
  background-color: #80bcff;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
}
.setting button:hover {
  background-color: #007bff;
}
.setting .button-container {
  width: 98%;
  display: flex;
  justify-content: center;
}