@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.user-content-container {
    width: 100%;
    height: 100%;
}

.user-content {
    font-family: "Nunito Sans-SemiBold", Helvetica;
    position: absolute;
    top: 100px;
    left: 450px;
    width: 970px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    opacity: 0; /* Start invisible */
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: var(--animation-delay, 0s); /* Allows dynamic delay */
}

.user-flight-list {
    position: absolute;
    top: 100px;
    left: 450px;
    width: 970px;
}

.user-content-header {
    background-color: #80bcff;
    border-radius: 10px 10px 0 0;
}

.user-content-title {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    padding: 20px;
}

.user-content-data {
    padding: 20px 40px 20px 40px;
    font-size: 20px;
}

.user-content-section {
    margin: 10px 0 20px 0;
}

.user-content-label {
    color: #666;
    font-weight: 500;
}

.user-content-label-data {
    position: absolute;
    left: 250px;
    font-weight: 600;
    color: #333;
}

.user-content-label-logout {
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.user-content-confirm-btn {
    width: 80px;
    margin-right: 20px;
    background-color: #80bcff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.user-content-confirm-btn:hover {
    background-color: #007bff;
}

.user-content-confirm-btn:active {
    background-color: #0066d3;
    transform: scale(0.95);
}

.change-password-btn {
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    left: 350px;
}

.user-content-modal-label {
    font-size: 20px;
    color: #666;
    padding: 10px 0 10px 0;
}

.user-content-label-input {
    width: 300px;
    font-size: 16px;
    padding: 0 8px 0 8px;
}

.user-content-modal-section {
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding-bottom: 10px;
}

.user-comfirm-button {
    background-color: #80bcff;
    color: #fff;
    border: none;
    margin-right: 20px;
    width: 150px;
    margin-left: 230px;
}

.user-cancel-button {
    background-color: #e0e0e0;
    color: #fff;
    border: none;
    margin-right: 20px;
    width: 150px;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-left: 230px;
}