.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-image: url("../../assets/images/bg-map-2.png");
  background-repeat: inherit;
  background-color: #2a2935 !important;
}

.footer-sections {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-section h3 {
  color: rgb(30, 188, 246);
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 16px;
  color: #ffffff;
}

.footer-section p:hover {
  cursor: pointer;
  color: #87c3ff;
}

.connect-us {
  margin-top: 20px;
  text-align: center;
}

.connect-us h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.connect-us h2 {
  text-align: center;
  color: rgb(30, 188, 246);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  display: block;
  font-size: x-large;
  color: rgb(30, 188, 246);
}

@media (max-width: 768px) {
  .footer-sections {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}
