/* General Styles */
.user-navbar {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: #e0f3fe;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top-bar-container {
    padding-left: 10%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
}

.logo-user-navbar {
    height: 50px;
    cursor: pointer;
    padding: 5px;
}

.top-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.top-bar-button .button {
    cursor: pointer;
}

/* Profile Section */
.profile {
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
}

.man {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}


.more {
    position: absolute;
    top: 15px;
    left: 170px;
}

/* Text Styling */
.username,
.div {
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
}

.username {
    position: absolute;
    top: 10px;
    left: 65px;
    font-size: 16px;
    font-weight: 700;
    color: #404040;
    width: 51px;
}

.div {
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #646464;
    width: 70px;
}

/* Overlap Groups */
.overlap-group {
    position: absolute;
    top: 17px;
}

.overlap-group {
    left: 1100px;
    width: 50px;
    height: 50px;
}

/* Image */
.img {
    position: absolute;
    top: 0;
    left: 16px;
    width: 26px;
    height: 26px;
}

/* Dropdown Menu */
.top-bar-container .dropdown-menu {
    margin-left: -10rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.dropdown-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 16px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-left: 30px;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
    transform: scale(1.05);
}
